<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-900">
    <form action="/create" method="post">
        <div class="flex flex-col gap-4 text-white w-3/5  m-auto mt-8">
            <input name="title" class="bg-zinc-600  text-white px-4 py-2 rounded-md" placeholder="Title goes here"
                type="text" />
            <textarea name="description" class="bg-zinc-600 resize-none text-white px-4 py-2 rounded-md"
                placeholder="Description goes here"></textarea>
                <input name="submit" type="submit" value="Create Task" class="bg-blue-600 hover:bg-blue-700 px-5 py-2 rounded-md w-fit cursor-pointer hover:rounded-none transition-all" />
        </div>
    </form>
    <div class="w-4/5 m-auto mt-10 flex flex-wrap gap-4">
        <% if(files.length > 0) { %>
            <% files.forEach(val => { %>
                <div class="bg-zinc-600 flex flex-col rounded-md gap-4 w-72 text-white text-wrap p-2">
                    <h1 class="text-2xl tracking-tighter"><%= val.replace(".txt","")%></h1>
                    <div class="flex justify-between items-center">
                        <a href="/files/<%= val %>" class="text-blue-500">Read More</a>
                        <a href="/edit/<%= val %>" class="text-zinc-400">Edit</a>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <h1 class="text-zinc-500 text-xl">No task yet.</h1>
        <% } %>
    </div>
</body>

</html>