<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 flex">
    <div class="text-white m-10 mt-12">
        <h1 class="text-4xl tracking-tighter"><%= name.replace(".txt","")%></h1>
        <p class="my-8"><%= data%></p>
        <a href="/" class="bg-blue-500 hover:bg-blue-600 transition-all hover:rounded-none px-3 py-1 rounded-md">Go Back</a>
    </div>
</body>
</html>